body {
  font-family: "Noto Sans Mono", monospace;
  background-image: url("https://cdn.discordapp.com/attachments/872262953108402180/1431637507916955820/unknown-min.png?ex=68fe23d4&is=68fcd254&hm=3e2cca0c9340e82575e6a2505fc637f6b947a3c1b5e09aadf8ecba99ee9992e3&");
}

h1 {
  color: #ed8a17;
}
