a, #a1, #a2 {
  color: #ed8a17;
  font-size: 1.5em;
  font-weight: bolder;
}

#a2, #a3, #a4 {
  color: white;
  font-size: 1.5em;
  font-weight: bolder;
}

#nav {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;

  border-color: #fffeee;
  border-style: solid;
  padding: 0px 5px;

  cursor: pointer;
}

#drop-down {
  display: none;
  opacity: 0;
  transition: opacity 0.3s ease;
}

#nav:hover #drop-down {
  display: block;
  opacity: 1;
}

.hidden {
  display: none;
}

#nav a:hover {
  color: blue;
}

@keyframes dropper {
  from {
    display: none;
  }

  to {
    display: block;
  }
}

#nav {
  width: 145px;
}

#navbtn {
  float: left;
  color: #ed8a17;
}

#indicator {
  float: right;
  color: #ed8a17;
}
