body {
  font-family: "Noto Sans Mono", monospace;
  background-color: #111111;
}

#main {
  transform: translate(-50%, -50%);
  position: absolute;
  left: 50%;
  top: 50%;
}

#main h1 {
  text-align: center;
  color: #ed8a17;
}
a, #a1, #a2, {
  color: #ed8a17;
  font-size: 1.5em;
  font-weight: bolder;
}

#a2, #a3, #a4 {
  color: white;
  font-size: 1.5em;
  font-weight: bolder;
}

#nav {
  border: white;
  padding: 0px 5px;
  float: right;
  text-align: center;
  border-style: solid;
  margin: 5px;
  padding-top: -10px;
  cursor: pointer;
}

.drop-down:onhover {
  animate-name: dropper;
  animation-duration: 2s;
  text-align: center;
}

.drop-down {
  float: right;
  text-align: center;
}

.hidden {
  display: none;
}

#nav a:hover {
  color: blue;
}

@keyframes dropper {
  from {
    display: none;
  }
  
  to {
    display: block;
  }
}

#nav {
  width: 145px;
}

#navbtn {
  float: left;
  color: white;
}

#indicator {
  float: right;
}
